.page {
  min-width: 300px;
  max-width: 1280px;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  background-color: #000000;
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
