.header {
  max-width: 882px;
  min-width: 300px;
  padding: 45px 0 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 928px) {
  .header {
    padding: 28px 27px 31px;
  }
}
