@import url(./__img/card__img.css);

@import url(./__rating/card__rating.css);

@import url(./__title/card__title.css);

@import url(./__heart/card__heart.css);

.card {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
